body {
    background-color: rgba(230, 210, 101, 0.432);
}

#main-title {
    color:rgba(230, 179, 70, 0.877)
    font-size: 24px;
}

#container {
    position: fixed;
}

.portal {
    height:250px;
    margin: 35px;
}
