#main-title {
    color:whitesmoke;
    font-size:50px;
    font-style:inherit;
}

body {
background-image: 
}

#description {
    font-size: 30px;
    
}

#character-list {
    justify-content: flex-end;
    display: flex;
}